@import "../../../assets/styles/global.scss";

:host {
    display: block;
    height: 59px;
    background-color: $dark;
    border-bottom: 1px solid $main;
    padding: 0 20px;

    & > div {
        height: 100%;
    }
}

.logo {
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 0 10px;
    font-size: 14px;
}
