<div class="wrapper">
    <mat-spinner *ngIf="showLoader" class="spinner" diameter="40"></mat-spinner>

    <div class="title" *ngIf="details">
        <span class="code">{{currency}}</span>
    </div>

    <div *ngIf="chartDetails" class="chart">
        <canvas baseChart [chartType]="chartDetails.type" [height]="120" [colors]="colors"
            [datasets]="chartDetails.datasets" [labels]="chartDetails.labels" [options]="chartDetails.options">
        </canvas>
    </div>

    <p class="no-data" *ngIf="noData && !showLoader">No data for chart</p>
</div>