@import '../../../assets//styles//global.scss';

:host {
    display: block;
    min-height: calc(100% - 90px);
    background-color: $bg-color;
    padding-top: 30px;
}

.wrapper {
    margin: 0 auto;
    max-width: 85%;
}

.spinner {
    margin: 20px auto;
}

.title {
    margin: 10px 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.code {
    color: $main;
    font-weight: 900;
    font-size: 24px;
}

.no-data {
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 18px;
}