@import "../../../assets//styles/global.scss";

:host {
    display: block;
    min-height: calc(100% - 30px);
    background-color: $bg-color;
    padding-top: 30px;
}

.wrapper {
    margin: 0 auto;
    max-width: 70%;
}

.title {
    color: white;
    font-size: 25px;
}

table {
    min-width: 100%;
    box-shadow: none;
    margin-bottom: 50px;
}

.mat-header-cell,
.mat-cell {
    padding: 0 25px;
    text-align: center;

    a {
        color: white;
    }
}

.today {
    color: white;
    text-decoration: underline;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.home ::ng-deep .mat-form-field {
    .mat-form-field-flex {
        padding: 0 10px !important;
    }

    .mat-form-field-infix {
        padding: 0 !important;
    }

    .mat-form-field-underline {
        bottom: 0;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

input {
    color: white;
}

.spinner {
    margin-right: 20px;
}
